@import 'config';

.btn {
  margin: 24px;
  padding: 15px 20px;
  background-color: #fff;
  border: none;
  font-family: inherit;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    outline: none;
  }
}

.screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  transition: margin 0.5s ease-out;
  &.up {
    margin-top: -100vh;
  }
}

.insects-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 22px;
  list-style-type: none;
  li {
    margin: 10px;
  }
}

.choose-insect-btn {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border: 2px solid #fff;
  font-family: inherit;
  color: #fff;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: var(--primary-color);
  }
  &:active {
    background-color: rgba(255, 255, 255, 0.7);
  }
  img {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
}

.game-container {
  position: relative;
}

.time,
.score {
  position: absolute;
  top: 20px;
}

.time {
  left: 20px;
}

.score {
  right: 20px;
}

.message {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -150%);
  padding: 20px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.7;
  text-align: center;
  opacity: 0;
  transition: transform 0.4s ease-in;
  z-index: 100;
  &.visible {
    transform: translate(-50%, 150%);
    opacity: 1;
  }
}

.insect {
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  img {
    width: 100px;
    height: 100px;
  }
  &.caught {
    transform: translate(-50%, -50%) scale(0);
  }
}
